# API Settings
API_TITLE=
API_DESCRIPTION=
API_VERSION=

# DATABASE Settings
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SERVER=
DATABASE_NAME=

# EMAIL Settings
EMAIL_SUBJECT=
EMAIL_SERVER=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SENDER_ALIAS=

# Other required variables
ENCRYPTION_KEY=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
FLOWER_PORT=
ELASTICSEARCH_CONNECTION_URL=
